header {
	width: 100%;
	position: fixed;
	z-index: 20;
	nav {
		width: 100%;
		padding: 20px 0px;
		position: relative;
		display: flex;
        background-color: rgb(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
		.menu__responsive{
			display: none;
			cursor: pointer;
		}
		.img__nav {
			display: flex;
			width: 40px;
			height: 40px;
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translate(-0%, -50%);
			span {
				padding: 0px 10px;
				color: #ffffff;
			}
			img {
				width: 100%;
				height: 100%;
			}
			&.active{
				display: none;
			}
		}
		.nav__list {
			list-style: none;
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			#Home {
				font-size: 1.6em;
			}
			.menu__responsive-quitar{
				display: none;
				cursor: pointer;
			}
			.list__li {
				font-size: 1.2em;
				padding: 15px 20px;
				position: relative;
				a {
					text-decoration: none;
					color: #ffffff;
				}
			}
			.menu__responsive{
				display:none;
			}
		}
	}
}
